/*Split the screen in half*/
.split{
	height:100%;
	width:50%;
	position:fixed;
	z-index:1;
	top:0;
	overflow-x:hidden;
	padding-top:20px;
}

/*Control the left side*/
.left{
	left:0;
	background-color:beige;
}

.centered1{
	text-align:center;
}

.carousel-item img {
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    object-position: 50% 50%;
}

.link{
	text-align:center;
}
	

/*Control the right side*/
.right{
	right:0;
	background-color:#33FFC9;
}

/*If you want the content centered horizontally and vertically*/


/*Style the image inside the centered container if needed */

/*If the browser window is 1000px or smaller on the left half of the screen the background colour will be pink */

@media only screen and (max-width: 1000px) {
  .split.left {
    background-color: #FFB6C1;
  }
}

/*If the browser window is 1000px or smaller on the right half of the screen the background colour will be blue */

@media only screen and (max-width: 1000px) {
  .split.right {
    background-color: #ADD8E6;
  }
}

.container-1{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	
}

.container-1 div{
	background-color:yellow;
	flex:1;
	border: 3px solid;
}

h1{
	color:red;
	font-family:Helvetica;
	
}
h2{
	color:blue;
	font-family:Times New Roman;
	text-shadow:3px 3px #FF9999;
}
h3{
	color:purple;
	font-family:Courier;
	text-shadow:1px 1px #FF1111;
}